<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combarranquilla</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <!--Navbar-->
    <header class="header">
        <div class="logo">
            <a href="/index.html"><img src="/img/logo_combarranquilla.png" alt="Logo deseado"></a>
        </div>
        <nav>
            <ul class="nav-link">
                <li><a href="cursos.html">Cursos</a></li>
                <li><a href="calendario.html">Calendario</a></li>
                <li><a href="calificaciones.html">Calificaciones</a></li>
                <li><a href="biblioteca.html">Biblioteca</a></li>
            </ul>
        </nav>

        <div class="user_logo">
        <!-- Input de tipo checkbox para el toggle -->
            <input type="checkbox" id="toggle-menu" class="toggle-input">
            <label for="toggle-menu" class="user-logo-label">
                <img src="/img/user_logo_img.jpg" alt="logo_usuario">
            </label>
            <ul class="list_menu">
                <li><a href="#">Perfil</a></li>
                <li><a href="#">Configuración</a></li>
                <li><a href="#">Cerrar sesión</a></li>
            </ul>
        </div>
    </header>

    <main>
        <h1>Calendario</h1>
    </main>

    <!--Separador-->
    <br>

    <!--Footer-->
    <footer class="footer">
        <div class="footer_content">
            <p>©Q10</p>
        </div>
    </footer>

    <!--Script-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/static/script.js"></script>
</body>
</html>