<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combarranquilla</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    
<!--Navbar-->
    <header class="header">
        <div class="logo">
            <a href="/index.html"><img src="/img/logo_combarranquilla.png" alt="Logo deseado"></a>
        </div>
        <nav>
            <ul class="nav-link">
                <li><a href="cursos.html">Cursos</a></li>
                <li><a href="calendario.html">Calendario</a></li>
                <li><a href="calificaciones.html">Calificaciones</a></li>
                <li><a href="biblioteca.html">Biblioteca</a></li>
            </ul>
        </nav>

        <div class="user_logo">
            <!-- Input de tipo checkbox para el toggle -->
            <input type="checkbox" id="toggle-menu" class="toggle-input">
            <label for="toggle-menu" class="user-logo-label">
                <img src="/img/user_logo_img.jpg" alt="logo_usuario">
            </label>
            <ul class="list_menu">
                <li><a href="#">Perfil</a></li>
                <li><a href="#">Configuración</a></li>
                <li><a href="#">Cerrar sesión</a></li>
            </ul>
        </div>
    </header>

    <main>
        <h1 class="tt">Mis cursos</h1>

    <!--CARTAS-->
    <div class="container col-1" style="width: 80%; padding-top: 20px; min-height: fit-content; border: none;">
        <div id="ctn_1" class="card" style="background-color: #c1d47a; width: 80%; height: 400px; border: none;">
            <div class="card-header" style="border: none;">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="true" href="#" onclick="goMatriculadas()" style="background-color: #c1d47a;border-color: #c1d47a; border-radius: 5%; color: #e9faf5; font-weight: 700; font-size: 16px;">Matriculadas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="goCompletadas()" style="background-color: #e1e9c0; color: #025936; font-weight: 700; font-size: 16px;">Completadas</a>
                    </li>
                </ul>
            </div>
            <!--Cartas de los cursos-->
            <div class="card-body d-flex flex-wrap gap-3" id="cartas_matriculadas" style="margin-top: 30px;">
                <div class="card card-img-container" style="color: #e9faf5; width: 40%; background-color: #c1d47a; border: none; margin-left: 40px;">
                    <img src="/img/verduras_img_card.jpg" class="card-img" alt="..." style="height: 200px; width: 100%; border-radius: 3%;">
                    <div class="card-img-overlay">
                        <h5 class="card-title" style="font-weight: 600; font-size: 18px;">Manipulación de alimentos</h5>
                        <p class="card-text" style="font-weight: 600; font-size: 16px;"><small>Profesor Ramirez</small></p>
                        <p class="card-text" style="font-weight: 600;font-size: 15px; padding-top: 48px; padding-left: 5px;"><small>60% completado</small></p>
                        <div class="container ct_bt" style="margin-top: 12px; margin-left: -34px;">
                            <button class="bt1" onclick="aviso()">Lecciones</button>
                            <button class="bt2" onclick="aviso()">Foros</button>
                            <button class="bt3" onclick="aviso()">Tareas</button>
                        </div>
                    </div>
                </div>
                <div class="card card-img-container" style="color: #e9faf5; width: 40%; background-color: #c1d47a; border: none; margin-left: 45px;">
                    <img src="/img/pasteleria_ing_card.jpg" class="card-img" alt="..." style="height: 200px; width: 100%; border-radius: 3%;">
                    <div class="card-img-overlay">
                        <h5 class="card-title" style="font-weight: 600; font-size: 18px;">Pastelería 1</h5>
                        <p class="card-text" style="font-weight: 600; font-size: 16px;"><small>Profesor Ramirez</small></p>
                        <p class="card-text" style="font-weight: 600; font-size: 15px; padding-top: 48px; padding-left: 5px;"><small>25% completado</small></p>
                        <div class="container ct_bt" style="margin-top: 12px; margin-left: -34px;">
                            <button class="bt1" onclick="aviso()">Lecciones</button>
                            <button class="bt2" onclick="aviso()">Foros</button>
                            <button class="bt3" onclick="aviso()">Tareas</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Boton de signo de interrogacion-->
    <button class="circular-button" onclick="aviso()"><img src="/img/Question Mark.png" alt="" style="width: 20px; height: 20px;"></button>
    </main>

    <!--Footer-->
    <footer class="footer">
        <div class="footer_content">
            <p>©Q10</p>
        </div>
    </footer>

    <!--Script-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/static/script.js"></script>
</body>
</html>